.contenedorBorrosoSe{
    position: absolute;
    display: flex;
    justify-content: center;
   align-items: center;
    flex-wrap: wrap;
    z-index: 10;
    width: 100%;
     height: 100%;
    background-color: rgba(101, 99, 99, 0.274);
}

.cerrarPdfSe{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(255, 4, 4); 
    color: white;
    border: none;
    cursor: pointer;
}
.ContenedorPdfSe{
    width: 55%;
    height: 47%;
    position: fixed;
    border: 1px solid black;
    background-color: rgb(86, 130, 171) ;
    color: black;
    border-radius: 10px;
    
}
.UbicacionpdfSe{
    width: 100%;
    padding: 8px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    max-height: 320px; 
    overflow-y: auto; 
    gap: 40px;
    
}
.cerrarPdfSe{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(255, 4, 4); 
    color: white;
    border: none;
    cursor: pointer;
}
.ubicacionCardSe1{
    width: 47%;
    background-color: rgb(198, 198, 200);
    border: 1px solid black;
    border-radius: 10px;
}
.ubicacionCardSe2{
    border: 1px solid black;
    border-radius: 10px;
    width:47%;
    background-color: rgba(201, 206, 206, 0.76);
}
.nombrePdfSecretaria{
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.cardPdfSecretaria{
    margin-top: 10px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    transition: ease-in-out 0.2s;
}
.cardPdf:hover{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.FormatoOrganizacion{
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 15px;
    justify-content: center;
}