.containerPrincipalInicio{
    /* background: linear-gradient(10deg, rgba(10, 148, 254, 0.564), rgba(225, 18, 18, 0.744)); */
    background: linear-gradient(70deg, rgb(0, 0, 0), #0091ffa4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color:  rgba(135, 136, 136, 0.268);;
}
.ContenedorImagen{
    background-image: url("https://www.exact.com.pe/assets/uploads/noticias/mira-aqui-las-diferencias-entre-el-software-de-gestion-documental-y-el-almacenamiento-en-la-nube.jpg");
    background-size: cover; 
    background-position: top right; 
    width: 70%;
    height: 100%;
    
}
.ContendorForm{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.formularioIncio{
    padding-top: 60px;
    padding-bottom: 40px;
    z-index: 10px;
    box-shadow: 10px 10px 10px rgba(88, 90, 92, 0.605);
    border-radius: 30px;
    background-color: white;
    width: 70%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputIncio{
    width: 50%;
    border-radius: 10px;
    padding: 5px;
    height: 35px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.botonIncio{
    padding: 5px;
    width: 45%;
    height: 35px;
    border-radius: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(80, 83, 88);
    color: white;
}
.botonIncio:hover{
    background-color: rgb(49, 87, 156);
    color: white;
}
.imagen{
    z-index: 10;
    border-radius: 110px;
    background-color: rgb(163, 165, 165);
    transform: translate(1310px , -665px);
    color: rgb(0, 0, 0);
    width: 90px;
    height: 90px;
}
.selector{
    width: 45%;
}